img {
    border-radius: 10px;
}

td {
    padding: 10px;
    text-align: center;
}
.basket {
    border-radius: 16px;
    padding: 20px;
    background: darkseagreen;
    margin-top: 5rem;
    margin-bottom: 5rem;
}