.cartModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0,0,0,0.2);
    display: none;
    z-index: 5;
}

.content {
    border-radius: 16px;
    width: 60%;
    min-height: 250px;
    min-width: 300px;
}
.cartModal.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}